@model HomeDetailsViewModel

@{
    ViewBag.Title = "User List";
    var phtoPath = "~/images/" + (Model.User.PhotoPath ?? "Delek.png");
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.User.Name</h1>

            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="@phtoPath" asp-append-version="true" />
                <h4>Id: @Model.User.Id</h4>
                <h4>Name: @Model.User.Name</h4>
                <h4>Email: @Model.User.Mail</h4>
                <h4>Address: @Model.User.Address</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                <a  asp-action="edit" asp-controller="home" asp-route-id="@Model.User.Id" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
  

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}